.signup {
  margin-left: 10px;
  width: 95.3%;
  background-color: #28a745;
  color: #f6f8fa;
  padding: 6px 10.6px;
  margin: 4.6px 0;
  border: none;
  border-radius: 2.1px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9em;
  display: block; /* add this line */
}

.signup:hover {
  background-color: #15e41f;
}
.error-message {
  color: red;
  margin-top: 1rem;
}
